<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Sentiment Analysis Service</title>
 
 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    
                  
                </ul>
            </nav>
            
        </div>
 
        <div class="jumbotron">
            <h1>Welcome to Sentiment Analysis Service</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="service" role="button">Start Analyzing</a>
            </p>
        </div>
 

 
        <footer class="footer">
            <p>&copy; Emmanuel Raj, Jyothi Nandikonda, Naz Syeda</p>
        </footer>
 
    </div>
</body>
 
</html>
